.table {
	height: fit-content;
}

.table thead th {
	line-height: 1;
}

.table td.text-end {
	min-width: 2rem;
}

.table .text-muted::before {
	content: '(';
}

.table .text-muted::after {
	content: ')';
}

.card-body .table tbody > tr > th {
	font-weight: normal;
	color: black;
}

.card-body .table tbody > tr > th::after {
	content: ':';
	color: gray;
}

@media (max-width: 1400px) {
	.modal-dialog.my-modal-fluid {
		max-width: inherit;
		width: 95%;
	}
}
